<!DOCTYPE html >

<html layout:decorate="~{layout}" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Администрирование</title>
</head>
<body>
<section layout:fragment="content">
    <div id="example">

        <p class="title">Администрирование</p>

        <div class="demo-section">
            <p>
                <button id="backup" class="k-primary">Сделать резеврную копию</button>
                <label for="backup-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                <input id="backup-dir" class="k-input input-dir" th:value="|${baseBooksDir}/backup/|"/>
                <label class="backup-results" style="float:right;"></label>
            </p>
            <p>
                <button id="export" class="k-primary">Экспорт</button>
                <label for="export-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                <input id="export-dir" class="k-input input-dir" th:value="|${baseBooksDir}/export/|"/>
                <label class="export-results" style="float:right;"></label>
            </p>
            <p>
                <button id="import" class="k-primary">Импорт</button>
                <label for="import-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                <input id="import-dir" class="k-input input-dir" th:value="|${baseBooksDir}/export/|"/>
                <label class="import-results" style="float:right;"></label>
            </p>
            <p>
                <button id="recommended" class="k-primary">В рекомендованные</button>
                <label for="recommended-id"></label><input id="recommended-id" class="k-input input-dir"/>
                <label class="recommended-results" style="float:right;"></label>
            </p>
            <p>
                <button id="delete" class="k-primary">Удалить</button>
                <label for="delete-id"></label><input id="delete-id" class="k-input input-dir"/>
                <label class="delete-results" style="float:right;"></label>
            </p>
        </div>

        <script>
            $(document).ready(function () {
                $("#backup-dir").kendoMaskedTextBox();
                $("#export-dir").kendoMaskedTextBox();
                $("#import-dir").kendoMaskedTextBox();
                $("#delete-id").kendoMaskedTextBox();
                $("#recommended-id").kendoMaskedTextBox();

                $("#backup").kendoButton({click: post("/api/book/backup", "#backup-dir", ".backup-results")});
                $("#export").kendoButton({click: post("/api/book/export", "#export-dir", ".export-results")});
                $("#import").kendoButton({click: post("/api/book/import", "#import-dir", ".import-results")});
                $("#delete").kendoButton({click: del("/api/book/{id}", "#delete-id", ".delete-results")});
                $("#recommended").kendoButton({click: postWithId("/api/book/{id}/recommended", "#recommended-id", ".recommended-results")});
            });

            function post(url, selector, selector1) {
                return function () {
                    api("POST", url, selector, selector1, $(selector).data("kendoMaskedTextBox").value());
                }
            }

            function postWithId(url, selector, selector1) {
                return function () {
                    let id = $(selector).data("kendoMaskedTextBox").value();
                    api("POST", url.replace("{id}", id), selector, selector1, $(selector).data("kendoMaskedTextBox").value());
                }
            }

            function del(url, selector, selector1) {
                return function () {
                    let id = $(selector).data("kendoMaskedTextBox").value();
                    api("DELETE", url.replace("{id}", id), selector, selector1, null);
                }
            }

            function api(type, url, selector, selector1, data) {
                var startTime, endTime;

                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    contentType: "text/plain",
                    beforeSend: function (xhr) {
                        startTime = new Date();
                        $(selector1).html("Выполняется...");
                    },
                    success: function (data) {
                        endTime = new Date();
                        var timeDiff = endTime - startTime; //in ms
                        timeDiff /= 1000; // strip the ms
                        var seconds = Math.round(timeDiff);

                        $(selector1).html("Завершено (" + seconds + " сек)");
                    }
                });
            }
        </script>
    </div>
</section>
</body>
</html>
