<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Книжный каталог | Администрирование</title>
    <link rel="icon" th:href="@{static/favicon.svg}" type="image/svg+xml">
    <link rel="stylesheet" th:href="@{static/main.css}"/>

    <link th:href="@{static/lib/kendo/styles/kendo.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/lib/kendo/styles/kendo.common.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/lib/kendo/styles/kendo.common-bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/telerik-examples.css}" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport"/>
</head>

<body>
<script th:src="@{static/lib/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{static/lib/kendo/js/kendo.all.min.js}" type="text/javascript"></script>
<script th:src="@{static/lib/kendo/js/cultures/kendo.culture.ru-RU.min.js}" type="text/javascript"></script>
<script th:src="@{static/lib/kendo/js/messages/kendo.messages.ru-RU.min.js}" type="text/javascript"></script>

<script>
    kendo.culture("ru-RU");
</script>

<div class="wrapper">

    <div class="middle">

        <div class="container">
            <div id="example">

                <p class="title">Администрирование</p>

                <div class="demo-section">
                    <p>
                        <button id="backup" class="k-primary">Сделать резервную копию в каталог</button>
                        <label for="backup-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                        <input id="backup-dir" class="k-input input-dir" th:value="|${baseBooksDir}/backup/|"/>
                        <label class="backup-results" style="float:right;"></label>
                    </p>
                    <p>
                        <button id="export" class="k-primary">Экспорт в каталог</button>
                        <label for="export-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                        <input id="export-dir" class="k-input input-dir" th:value="|${baseBooksDir}/export/|"/>
                        <label class="export-results" style="float:right;"></label>
                    </p>
                    <p>
                        <button id="import" class="k-primary">Импорт из каталога</button>
                        <label for="import-dir"></label><!--/*@thymesVar id="baseBooksDir" type="java.lang.String"*/-->
                        <input id="import-dir" class="k-input input-dir" th:value="|${baseBooksDir}/export/|"/>
                        <label class="import-results" style="float:right;"></label>
                    </p>
                    <p>
                        <button id="batch-import" class="k-primary">Импорт из списка URL</button>
                        <label for="batch-import-list"></label>
                        <textarea id="batch-import-list" class="k-textarea batch-import-list" data-role="maskedtextbox"></textarea>
                        <label class="batch-import-results" style="float:right;"></label>
                    </p>
                    <p>
                        <button id="recommended" class="k-primary">В рекомендованные</button>
                        <label for="recommended-id"></label><input id="recommended-id" class="k-input input-dir"/>
                        <label class="recommended-results" style="float:right;"></label>
                    </p>
                    <p>
                        <button id="delete" class="k-primary">Удалить</button>
                        <label for="delete-id"></label><input id="delete-id" class="k-input input-dir"/>
                        <label class="delete-results" style="float:right;"></label>
                    </p>
                </div>

                <script>
                    $(document).ready(function () {
                        $("#backup-dir").kendoMaskedTextBox();
                        $("#export-dir").kendoMaskedTextBox();
                        $("#import-dir").kendoMaskedTextBox();
                        $("#batch-import-list").kendoMaskedTextBox();
                        $("#delete-id").kendoMaskedTextBox();
                        $("#recommended-id").kendoMaskedTextBox();

                        $("#backup").kendoButton({click: post("/books/backup", "#backup-dir", ".backup-results")});
                        $("#export").kendoButton({click: post("/books/export", "#export-dir", ".export-results")});
                        $("#import").kendoButton({click: post("/books/import", "#import-dir", ".import-results")});
                        $("#batch-import").kendoButton({click: post("/books/import/batch", "#batch-import-list", ".batch-import-results")});
                        $("#delete").kendoButton({click: del("/books/{id}", "#delete-id", ".delete-results")});
                        $("#recommended").kendoButton({click: postWithId("/books/{id}/recommended", "#recommended-id", ".recommended-results")});
                    });

                    function post(url, selector, selector1) {
                        return function () {
                            api("POST", url, selector, selector1, $(selector).data("kendoMaskedTextBox").value());
                        }
                    }

                    function postWithId(url, selector, selector1) {
                        return function () {
                            let id = $(selector).data("kendoMaskedTextBox").value();
                            api("POST", url.replace("{id}", id), selector, selector1, $(selector).data("kendoMaskedTextBox").value());
                        }
                    }

                    function del(url, selector, selector1) {
                        return function () {
                            let id = $(selector).data("kendoMaskedTextBox").value();
                            api("DELETE", url.replace("{id}", id), selector, selector1, null);
                        }
                    }

                    function api(type, url, selector, selector1, data) {
                        let startTime, endTime;

                        $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            contentType: "text/plain",
                            beforeSend: function (xhr) {
                                startTime = new Date();
                                $(selector1).html("Выполняется...");
                            },
                            success: function (data) {
                                endTime = new Date();
                                let timeDiff = endTime - startTime; //in ms
                                timeDiff /= 1000; // strip the ms
                                const seconds = Math.round(timeDiff);

                                $(selector1).html("Завершено (" + seconds + " сек)");
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>Книжный каталог (вер. <span th:text="${ver}"></span>) &copy;&nbsp;2020–<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> oshurkov.name</p>
</footer>

</body>

</html>
