<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Книжный каталог | Главная</title>
    <link rel="icon" th:href="@{static/favicon.svg}" type="image/svg+xml">
    <link rel="stylesheet" th:href="@{static/main.css}"/>

    <link th:href="@{static/lib/kendo/styles/kendo.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/lib/kendo/styles/kendo.common.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/lib/kendo/styles/kendo.common-bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{static/telerik-examples.css}" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport"/>
</head>

<body>
<script th:src="@{static/lib/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{static/lib/kendo/js/kendo.all.min.js}" type="text/javascript"></script>
<script th:src="@{static/lib/kendo/js/cultures/kendo.culture.ru-RU.min.js}" type="text/javascript"></script>
<script th:src="@{static/lib/kendo/js/messages/kendo.messages.ru-RU.min.js}" type="text/javascript"></script>

<script>
    kendo.culture("ru-RU");
</script>

<div class="wrapper">

    <div class="middle">

        <div class="container">
            <div id="example">

                <p class="title">Книжный каталог</p>

                <div class="demo-section">
                    <h3>OPDS каталог:
                        <span id="opds-url"></span></h3>
                    <a target="_blank">(открыть в новой вкладке)</a>

                    <ul id="fieldlist">
                        <li>
                            <h4 for="books-count">Книг в каталоге:</h4>
                            <!--/*@thymesVar id="booksCount" type="java.lang.Long"*/-->
                            <input id="books-count" th:value="${booksCount}"/>
                        </li>
                        <li>
                            <h4 for="authors-count">Авторов в каталоге:</h4>
                            <!--/*@thymesVar id="authorsCount" type="java.lang.Long"*/-->
                            <input id="authors-count" th:value="${authorsCount}"/>
                        </li>
                    </ul>
                </div>

                <script>
                    let host = window.location.protocol + "//" + window.location.host + "/catalog";

                    $(document).ready(function () {
                        $("#opds-url").text(host);
                        $("a").attr("href", host);

                        $("#books-count").kendoMaskedTextBox();
                        $("#authors-count").kendoMaskedTextBox();

                        $("#books-count").data("kendoMaskedTextBox").readonly();
                        $("#authors-count").data("kendoMaskedTextBox").readonly();
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>Книжный каталог (вер. <span th:text="${ver}"></span>) &copy;&nbsp;2020–<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> oshurkov.name</p>
</footer>

</body>

</html>
